* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container {
  background: #fff;
  width: 420px;
  padding: 1.5rem 2rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.form-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.2rem;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: none;
  border-bottom: 2px solid #757575;
  font-size: 15px;
  background: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #5a3df0;
}

.input-group label {
  position: absolute;
  left: 35px;
  top: 10px;
  color: #757575;
  transition: 0.3s ease all;
  pointer-events: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #5a3df0;
}

.btn {
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #5a3df0;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #3c23c9;
}

.or {
  text-align: center;
  margin: 1rem 0;
  color: #555;
}

.icons {
  text-align: center;
}

.icons i {
  color: #5a3df0;
  padding: 0.5rem 1rem;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0 10px;
  transition: 0.3s;
  cursor: pointer;
}

.icons i:hover {
  background: #5a3df0;
  color: #fff;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
}

.links p {
  margin-right: 10px;
}

button {
  border: none;
  background: none;
  color: #5a3df0;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.password-info {
  font-size: 0.8rem;
  margin-top: 5px;
  padding-left: 35px;
  color: #888;
}

.password-info p {
  margin: 2px 0;
}

#typeInfo span {
  opacity: 0.5;
}

#typeInfo span.active {
  opacity: 1;
  color: #000;
  font-weight: 600;
}
